/*colors and stuff*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  background: lightslategray;
  border: solid rgb(83, 83, 83);
  text-align: center;
}
h3 {
  font-size: 26px;
}
/* grid setup */
.container {
  margin: 0 auto;
  font-size: 30px;
  max-height: 100px;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-style: none;
}
/* grid arranging */
.output {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: left;
}
.idivision,
.imulti,
.iaddition,
.isubtract,
.ienter {
  grid-column: 4 / 5;
}
.iclear,
.ipercent,
.idk {
  grid-row: 2 / 3;
}
.item1,
.item2,
.item3 {
  grid-row: 3 / 4;
}
.item4,
.item5,
.item6 {
  grid-row: 4 / 5;
}
.item7,
.item8,
.item9 {
  grid-row: 5 / 6;
}
.item0,
.inegative,
.ienter {
  grid-row: 6 / 7;
}
.ienter {
  grid-column: 3 / 5;
}
/* hover stuff */
div[class^="i"]:hover {
  background: gray;
  color: ghostwhite;
  transition-duration: 0.5s;
  cursor: pointer;
}
